{% extends 'base.html.twig' %}

{% block title %}New Haie{% endblock %}

{% block body %}
    <h1>Create new Haie</h1>

    {{ include('haie_crud_controller/_form.html.twig') }}

    <a href="{{ path('app_haie_crud_controller_index') }}">back to list</a>
{% endblock %}
