{% extends 'base.html.twig' %}

{% block title %}Hello AjouterHaieController!{% endblock %}

{% block body %}

<div class="flex items-center justify-center h-screen bg-gray-100">
    <div class="w-full max-w-md p-6 bg-white rounded-lg shadow-md">
        <h1 class="text-3xl font-semibold text-center text-green-700 mb-4">Création Haie</h1>
        <div class="mt-4">
            {{ form(form) }}
       
        </div>
    </div>
</div>

{% endblock %}
