{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}


<div class="example-wrapper ">
 <div class="h-[101vh] w-[101vw] flex justify-center items-center  ">
 <div class="flex flex-col text-center gap-4"> 
 <h1 class="underline text-4xl ">Le P'tit j@ardinier </h1>
    <h2 class="text-3xl ">Des professionels à votre service</h2>
<a  class="text-blue-500 hover:underline" href="{{ path('app_choix') }}">Obtenir un devis en ligne pour une taille de haie </a>
<img src="https://img.freepik.com/vecteurs-premium/jardinier-dessine-main-aide-illustration-dessin-anime-tondeuse-gazon_52683-115951.jpg" alt="">
 </div>
    
</div>
</div>
{% endblock %}
