{% extends 'base.html.twig' %} {% block title %}Hello AccueilController!{%
endblock %} {% block body %}

<div class="example-wrapper">
  <div
    class="h-[101vh] w-[101vw] flex flex-col gap-2 justify-center items-center"
  >
    <form
      method="GET"
      class="flex flex-col items-center justify-center gap-2"
      action="{{ path('app_devis') }}"
    >
      <div class="flex gap-2">
        <h1 class="">Quel type de haie souhaitez-vous ?</h1>
        <select name="haie">
          {% for haie in mesHaies %}

          <option value="{{ haie.getNom() ~ '|' ~ haie.getPrix() }}">{{ haie.getNom() }}</option>
          {% endfor %}
        </select>
        
      </div>
      <div>
        <label for="">Longeur</label> 
        <input
          type="text"
          name="longueur"
          id=""
          class="border-black border"
          required
        />
      </div>
      <div>
        <label for="">Hauteur</label>
        <input
          type="text"
          name="hauteur"
          id=""
          class="border-black border"
          required
        />
      </div>
      <input
        type="submit"
        class="border rounded bg-neutral-700 text-white h-10 p-2"
      />
    </form>
  </div>
</div>

{% endblock %}
