{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}

<div class="flex items-center justify-center h-screen bg-gray-100">
    <div class="p-6 max-w-lg bg-white rounded-lg shadow-md">
        <form method="GET" action="{{ path('app_devis') }}" class="space-y-4">
            <div class="text-center">
                <h1 class="text-2xl font-semibold">Quel type de haie souhaitez-vous ?</h1>
            </div>

            <div>
                <select name="haie" class="block w-full p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-green-500 focus:border-green-500">
                    {% for haie in mesHaies %}
                    <option value="{{ haie.getNom() ~ '|' ~ haie.getPrix() }}">{{ haie.getNom() }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="flex flex-col gap-1">
                <label for="longueur" class="text-sm font-medium text-gray-700">Longueur</label>
                <input type="text" name="longueur" id="longueur" class="p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-green-500 focus:border-green-500" required />
            </div>

            <div class="flex flex-col gap-1">
                <label for="hauteur" class="text-sm font-medium text-gray-700">Hauteur</label>
                <input type="text" name="hauteur" id="hauteur" class="p-2.5 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-green-500 focus:border-green-500" required />
            </div>

            <input type="submit" value="Calculer le devis" class="w-full bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        </form>
    </div>
</div>

{% endblock %}
