{% extends 'base.html.twig' %} {% block title %}Hello AccueilController!{%
endblock %} {% block body %}

<div class="example-wrapper">
  <div
    class="h-[101vh] w-[101vw] flex flex-col gap-2 justify-center items-center"
  >
    

    <form  method="post" action="{{ path('app_devis') }}" class="flex flex-col items-center justify-center gap-2">
        <div class="flex gap-2">
            <h1 class="">Quel type de haie souhaitez-vous ?</h1>
            <select name="haie"> 
              <option value="abelia">Abélia</option>
              <option value="laurier">Laurier</option>
              <option value="thuya">Thuya</option>
              <option value="troene">Troène</option>
            </select>
          </div>
      <div>
        <label for="">Longeur</label>
        <input type="text" name="longueur" id="" class="border-black border" />
      </div>
      <div>
        <label for="">Hauteur</label>
        <input type="text" name="hauteur" id="" class="border-black border" />
      </div>
      <input
        type="submit"
        class="border rounded bg-neutral-700 text-white h-10 p-2"
      />
    </form>
  </div>
</div>
{% endblock %}
