{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
<style>

</style>

<div class="example-wrapper bg-white">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/hugo/Desktop/SymfonyYoyoHugo/src/Controller/TestController.php'|file_link(0) }}">src/Controller/TestController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/hugo/Desktop/SymfonyYoyoHugo/templates/test/index.html.twig'|file_link(0) }}">templates/test/index.html.twig</a></code></li>
    </ul>
    <h1 Symfony\Component\HttpFoundation\Response; 
h1>TestController</h1>
</div>
{% endblock %}
