<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
</head>
<body >

    <nav class="bg-green-800 py-4 z-50">
        <div class="container mx-auto flex items-center justify-between">
            <div class="flex items-center">
                <a href="{{path('app_accueil')}}" class="text-white font-bold text-xl">Le ptit jardinier</a>
            </div>

            <div class="flex items-center">
                <div class="relative inline-block text-left">
                    <a href="{{path('app_accueil')}}" class="text-white px-3 py-2 group-hover:text-red-500 rounded-md hover:bg-green-700 relative z-10">
                        Accueil
                    </a>
                    
                </div>
                <div class="relative inline-block text-left">
                    <a onclick="openNav()" href="#" class="text-white px-3 py-2 rounded-md hover:bg-green-700">Devis</a>
                    <div id='sousmenu' class="hidden absolute bg-green-800 py-2 rounded-md text-white  mt-10 z-20">
                        <a href="{{path('app_ajouter_haie')}}" class="block px-4 py-2 hover:bg-green-700">Création</a>
                        <a href="{{path('app_modifier_list')}}" class="block px-4 py-2 hover:bg-green-700">Consultation/Modification</a>
                    </div>
                </div>

                <a href="#" class="text-white px-3 py-2 rounded-md hover:bg-green-700">Gestion des types de haie</a>
                <a href="#" class="text-white px-3 py-2 rounded-md hover:bg-green-700">Contact</a>
            </div>
        </div>
    </nav>

{% block body %}

{% endblock %}

<script>
    let IsOpen = false;

    function openNav() {
        IsOpen = !IsOpen;
        if (IsOpen === false) {
            document.getElementById("sousmenu").style.display = "none";
            } else {
            document.getElementById("sousmenu").style.display = "block";

        }
    }
</script>


</body>
</html>
